@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Add New Cricketer</h1>

<form action="AddCricketer" method="post">
    <div>
        Id:<input type="text" id="Id" name="Id" /><br />
        Name:<input type="text" id="Name" name="Name" /><br />
        JersyNo:<input type="text" id="JersyNo" name="JersyNo" /><br />
        Ranker:<input type="text" id="Ranker" name="Ranker" /><br />

        Age:<input type="text" id="Age" name="Age" /> <br />
        DOJ:<input type="date" id="DOJ" name="DOJ" /><br />
        Role:<input type="text" id="Role" name="Role" /><br />
    </div>
    <button type="submit" id="btn" name="btn">Add New Cricketer</button>
</form>