@{
    ViewData["Title"] = "Add Student";
}
<h1>Add Student</h1>

<form action="AddStudent" method="post">
    <div>
        Student_Id:<input type="text" name="Student_Id" id="Student_Id" /><br />
        Student_Name:<input type="text" name="Student_Name" id="Student_Name" /><br />
        Student_Email:<input type="email" name="Student_Email" id="Student_Email" /><br />
        Mobile_Number:<input type="text" name="Mobile_Number" id="Mobile_Number" /><br />
        Student_Address:<input type="text" name="Student_Address" id="Student_Address" /><br />
        Admission:<input type="date" name="Admission" id="Admission" /><br />
        Fees:<input type="text" name="Fees" id="Fees" /><br />
        Status:<input type="text" name="Status" id="Status" /><br />
    </div>

    <button type="submit" id="btn" name="btn">AddStudent</button>
</form>
