@{
    ViewData["Title"] = "DeleteStudent";
}
<h1>DeleteStudentById</h1>

<form action="DeleteStudent" method="post">
    <div>
        Student_Id:<input type="text" name="Student_Id" id="Student_Id" /><br />
    </div>
    <button type="submit" id="btn" name="btn">DeleteStudent</button>
</form>
