@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "UpdateStudent";
}
<h1>UpdateStudent</h1>

<form action="UpdateStudent" method="post">
    <div>
        Student_Id:<input type="text" name="Student_Id" id="Student_Id" /><br />

        Student_Name:<input type="text" name="Student_Name" id="Student_Name" /><br />
     
        Mobile_Number:<input type="text" name="Mobile_Number" id="Mobile_Number" /><br />
       
       
      
    </div>
    <button type="submit" id="btn" name="btn">Update Student</button>
</form>
